*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
}

.left-bar{
  width: 80%;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link{
color: white;
text-decoration: none;
}

.clickable, button{
  cursor: pointer;
}
